<div class="scrivito-tab-group">
  <ul class="nav nav-tabs" role="tablist">
    <% widget.tabs.each_with_index do |tab, i| %>
      <li role="presentation" class="<%= i == 0 ? 'active' : '' %>">
        <a href="#tab-<%= widget.id %>-<%= i %>" aria-controls="home" role="tab" data-toggle="tab" class="<%= tab.background_color %>">
          <%= scrivito_value tab.title %>
        </a>
      </li>
    <% end %>
  </div>
  <div class="tab-content">
    <% widget.tabs.each_with_index do |tab, i| %>
      <%= scrivito_tag :div, tab, :content, id: "tab-#{widget.id}-#{i}", class: "#{tab.background_color} tab-pane #{'active' if i == 0}" %>
    <% end %>
  </div>
</div>
