.tabs-wrapper
  = scrivito_tag(:div, widget, :tabs, style: 'display:none')

  %ul.nav.nav-tabs
    - widget.tabs.each_with_index do |tab, index|
      - active_class = index == 0 ? 'active' : nil
      %li{class: active_class}
        = scrivito_tag(:a, tab, :headline, href: "##{tab.id}", 'data-toggle' => 'tab')

    - if scrivito_in_editable_view?
      %li.new_tab
        %a{id: "add_new_tab", pageid: @obj.id, widgetid: widget.id, href: "#", style: "background-color: #439439; color: white;"}
          New Tab

  .tab-content
    - widget.tabs.each_with_index do |tab, index|
      - active_class = index == 0 ? 'active' : nil
      -# still toying around with this a bit: 
      - if false
        = scrivito_tag(:div, widget, tabs[index], class: "tab-pane fade in #{active_class}", id: tab.id)

      .tab-pane.fade.in{id: tab.id, class: active_class}
        = scrivito_tag(:div, tab, :content)

    - if widget.tabs.blank?
      = scrivito_tag(:div, widget, :tabs)

