<%= scrivito_details_for do %>
  <h4><%= t('scrivito_tabbed_content_widget.details.title', default: 'Title') %></h4>
  <%= scrivito_tag :div, widget, :title %>
  <br />
  <h4><%= t('scrivito_tabbed_content_widget.details.background_color', default: 'Background Color') %></h4>
  <%= scrivito_tag :div, widget, :background_color, data: {colors_list: widget.scrivito_selectable_color_classes} %>
<% end %>
